{% extends "page/page_base.html" %}
{% block content %}
    <!--posts is the key of context-->
    <!--{{ a }} means a is variable-->
    {% for blog in blogs %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ blog.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ blog.author }}</a>
                    <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>
                <p class="article-content">{{ blog.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

